<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="WP ORM Test Suite">
            <directory>./tests</directory>
        </testsuite>
         <testsuite name="helpers">
            <directory>./tests/Helpers</directory>
        </testsuite>
         <testsuite name="collection">
            <directory>./tests/Collection/CollectionRepositoryBuilderTest.php</directory>
            <directory>./tests/Collection/CollectionRepositoryBuilderTestDefaultEntities.php</directory>
            <directory>./tests/Collection/CollectionRepositoryBuilderTestPrimaryKey.php</directory>
            <directory>./tests/Collection/CollectionRepositoryBuilderTestPrimaryKeyString.php</directory>
        </testsuite>
         <testsuite name="single">
            <directory>./tests/Single/SingleRepositoryBuilderTest.php</directory>
        </testsuite>
    </testsuites>
</phpunit>
